.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.ml6{
    margin-left:6px;
}
.ml18{
    margin-left:18px;
}
.ml75{
    margin-left:75px;
}
.mt30{
    margin-top:30px;
}
.mt10{
    margin-top:10px;
}